i.left.fa {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    color: hsl(180, 8%, 12%) !important;
    padding: 0.4em 0.7em;
    color: white;
    position: fixed;
    right: 25px;
    z-index: 99999;
    transition: all ease-out 0.5s;
    transform: scale(0.6);
}

i.left.fa:hover {
    opacity: 50% !important;
    transform: scale(1.0);
}

.left-1 {
    bottom: 59%;
}

.left-2 {
    bottom: 50%;
}

.left-3 {
    bottom: 41%;
}

@media screen and (max-width: 991px) {

    .navbar-nav {
        margin-right: 0%;
        float: right;
    }

    i.left.fa {
        transform: scale(0.5);
        right: 10px;
    }

    i.left.fa:hover {
        transform: scale(0.6);
    }

    .left-1 {
        bottom: 56%;
    }

    .left-2 {
        bottom: 50%;
    }

    .left-3 {
        bottom: 44%;
    }

}
